<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-type-info-heading" jhiTranslate="kmptDemoApp.profileTypeInfo.home.createOrEditLabel">Create or edit a Profile Type Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.chapter" for="field_chapter">Chapter</label>
                    <input type="text" class="form-control" name="chapter" id="field_chapter"
                           formControlName="chapter"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.rank" for="field_rank">Rank</label>
                    <input type="number" class="form-control" name="rank" id="field_rank"
                           formControlName="rank"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.h1" for="field_h1">H 1</label>
                    <input type="text" class="form-control" name="h1" id="field_h1"
                           formControlName="h1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.h2" for="field_h2">H 2</label>
                    <input type="text" class="form-control" name="h2" id="field_h2"
                           formControlName="h2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.profileType" for="field_profileType">Profile Type</label>
                    <select class="form-control" id="field_profileType" name="profileType" formControlName="profileTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileTypeOption.id" *ngFor="let profileTypeOption of profiletypes; trackBy: trackProfileTypeById">{{profileTypeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeInfo.profileVariant" for="field_profileVariant">Profile Variant</label>
                    <select class="form-control" id="field_profileVariant" name="profileVariant" formControlName="profileVariantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileVariantOption.id" *ngFor="let profileVariantOption of profilevariants; trackBy: trackProfileVariantById">{{profileVariantOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
