<div>
    <h2 id="page-heading">
        <span jhiTranslate="kmptDemoApp.scoring.home.title">Scorings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-scoring" [routerLink]="['/scoring/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kmptDemoApp.scoring.home.createLabel">
            Create a new Scoring
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="scorings?.length === 0">
        <span jhiTranslate="kmptDemoApp.scoring.home.notFound">No scorings found</span>
    </div>
    <div class="table-responsive" *ngIf="scorings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="score1"><span jhiTranslate="kmptDemoApp.scoring.score1">Score 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="score2"><span jhiTranslate="kmptDemoApp.scoring.score2">Score 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="profileVariantName"><span jhiTranslate="kmptDemoApp.scoring.profileVariant">Profile Variant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scoring of scorings ;trackBy: trackId">
                <td><a [routerLink]="['/scoring', scoring.id, 'view' ]">{{scoring.id}}</a></td>
                <td>{{scoring.score1}}</td>
                <td>{{scoring.score2}}</td>
                <td>
                    <div *ngIf="scoring.profileVariantId">
                        <a [routerLink]="['/profile-variant', scoring.profileVariantId , 'view' ]" >{{scoring.profileVariantName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/scoring', scoring.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/scoring', scoring.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(scoring)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="scorings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
