<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-type-rating-heading" jhiTranslate="kmptDemoApp.profileTypeRating.home.createOrEditLabel">Create or edit a Profile Type Rating</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeRating.characteristic" for="field_characteristic">Characteristic</label>
                    <input type="text" class="form-control" name="characteristic" id="field_characteristic"
                           formControlName="characteristic"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeRating.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profileTypeRating.profileType" for="field_profileType">Profile Type</label>
                    <select class="form-control" id="field_profileType" name="profileType" formControlName="profileTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileTypeOption.id" *ngFor="let profileTypeOption of profiletypes; trackBy: trackProfileTypeById">{{profileTypeOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
