<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-heading" jhiTranslate="kmptDemoApp.profile.home.createOrEditLabel">Create or edit a Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.jobTitle" for="field_jobTitle">Job Title</label>
                    <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                           formControlName="jobTitle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.me" for="field_me">Me</label>
                    <input type="checkbox" class="form-control" name="me" id="field_me"
                           formControlName="me"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.relation" for="field_relation">Relation</label>
                    <input type="text" class="form-control" name="relation" id="field_relation"
                           formControlName="relation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.profileVariant" for="field_profileVariant">Profile Variant</label>
                    <select class="form-control" id="field_profileVariant" name="profileVariant" formControlName="profileVariantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileVariantOption.id" *ngFor="let profileVariantOption of profilevariants; trackBy: trackProfileVariantById">{{profileVariantOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kmptDemoApp.profile.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="kmptDemoApp.profile.question" for="field_questions">Question</label>
                    <select class="form-control" id="field_questions" multiple name="questions" formControlName="questions">
                        <option [ngValue]="getSelected(editForm.get('questions').value, questionOption)" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.answer}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
