<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profileType">
            <h2><span jhiTranslate="kmptDemoApp.profileType.detail.title">Profile Type</span> {{profileType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kmptDemoApp.profileType.name">Name</span></dt>
                <dd>
                    <span>{{profileType.name}}</span>
                </dd>
                <dt><span jhiTranslate="kmptDemoApp.profileType.description">Description</span></dt>
                <dd>
                    <span>{{profileType.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile-type', profileType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <h1>AAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
            <h2>eeeeeeeeeeeeeeeeeeeeeeeeeeee</h2>
            <h3>zzzzzzzzzzzzzzzzzzzzzzzzzzzz</h3>
        </div>
    </div>
</div>
